@import 'tailwindcss';

@font-face {
  font-family: brandon;
  src:
    url('./font/brandon-grotesque-regular.woff2') format('woff2'),
    url('./font/brandon-grotesque-regular.woff') format('woff');
  font-weight: 300 400;
  font-style: normal;
}

@font-face {
  font-family: brandon;
  src:
    url('./font/brandon-grotesque-bold.woff2') format('woff2'),
    url('./font/brandon-grotesque-bold.woff') format('woff');
  font-weight: 500 600;
  font-style: normal;
}

@font-face {
  font-family: brandon;
  src:
    url('./font/brandon-grotesque-black.woff2') format('woff2'),
    url('./font/brandon-grotesque-black.woff') format('woff');
  font-weight: 700 800;
  font-style: normal;
}

@font-face {
  font-family: bebas;
  src:
    url('./font/bebas-neue-regular.woff2') format('woff2'),
    url('./font/bebas-neue-regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: bebas;
  src:
    url('./font/bebas-neue-bold.woff2') format('woff2'),
    url('./font/bebas-neue-bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: didot;
  src:
    url('./font/didot-italic.woff2') format('woff2'),
    url('./font/didot-italic.woff') format('woff');
  font-weight: 400 500;
  font-style: normal;
}

@theme {
  --color-darkgreen: #0e1915;
  --color-red: #ef4358;
  --color-green: #00a479;
  --color-brand: #00a479;

  /* https://tailwindcss.com/docs/responsive-design#overview */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --container-sm: 40rem;
  --container-md: 48rem;
  --container-lg: 64rem;
  --container-xl: 80rem;
  --container-2xl: 96rem;

  --font-sans:
    brandon, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif;
  --font-brand:
    bebas, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif;
  --font-serif:
    didot, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif;

  --text-xs: 0.75rem;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}
